@model ParkyWeb.Models.User
@{
    ViewData["Title"] = "Login";
}

<div class="col-md-8 offset-2">
    <div class="card">
        <div class="card-header text-center"><h3>Login</h3></div>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input type="text" asp-for="Username" placeholder="Username..." class="form-control" />
            </div><br />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" placeholder="******" asp-for="Password" class="form-control" />
            </div><br />
            <input type="submit" value="Login" class="btn btn-success" />
        </form>
    </div>
</div>



